.env
.env.test
node_modules
package-lock.json
/Exercises/DAY3/uploads/
/Exercises/DAY4/uploads/
/Exercises/DAY5/uploads/
/Exercises/DAY6/uploads/
/Exercises/DAY4/logs.txt
/Exercises/DAY3/logs.txt
/Exercises/DAY5/logs.txt
/Exercises/DAY6/logs.txt